<footer class="footer">
  <div class="container footer-container">
    <div class="footer-links">
      <a class="footer-link navbar-right footer-hover" href="/impressum/">Impressum</a>
      <a class="footer-link navbar-right footer-hover" href="/mitmachen/">Mitmachen</a>
      <a class="footer-link navbar-right footer-hover" href="/">Home</a>
    </div>
    <div class="footer-copy">
      <p class=copyright>{{ site.copyright }}</p>
    </div>
    <div class="footer-social">
      <a class="fa fa-twitter fa-2x social-icon" href="https://twitter.com/PietSmiet_Club" target="_blank" style="text-rendering: optimizeLegibility;"></a>
      <a class="fa fa-facebook-official fa-2x social-icon" href="https://www.facebook.com/PietSmietFanclub/" target="_blank" style="text-rendering: optimizeLegibility;"></a>
    </div>
  </div>
</footer>
