<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><img id="navbar-logo" alt="PietSmiet FanClub" src="/img/PietSmiet_FanClub_Logo_white.svg"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-hover" href="/projekte/">UNSERE PROJEKTE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.facebook.com/psfanserver/" target="_blank"><i class="fa fa-cube"></i> PietSmiet FanServer</a></li>
            <li><a href="https://www.facebook.com/DiePietSmietFans/" target="_blank"><i class="fa fa-flag"></i> PietSmiet FanSeite</a></li>
            <li><a href="https://www.facebook.com/pietsmietfanprojekt/" target="_blank"><i class="fa fa-comments"></i> PietSmiet FanProjekt</a></li>
            <li><a href="https://www.facebook.com/groups/psfangruppe/" target="_blank"><i class="fa fa-users"></i> PietSmiet FanGruppe</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-hover"><a href="/mitmachen/">MITMACHEN</a></li>
        <li class="dropdown">
          <a role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-hover" href="/">ÜBER UNS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dokumente/">DOKUMENTE</a></li>
            <li><a href="/datenschutz/">DATENSCHUTZ</a></li>
            <li><a href="/impressum/">IMPRESSUM</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
